
* { box-sizing: border-box;}
h2 {margin: 0}

@font-face {
  font-family: 'Consolas';
    src: url('../fonts/Consolas.eot');
    src: url('../fonts/Consolas.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Consolas.woff') format('woff'),
         url('../fonts/Consolas.ttf') format('truetype'),
         url('../fonts/Consolas.svg#consolas') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #272822;
}

.wrapper {
	display: block;
	width: 100%;
}

.container {
  padding: 0 15px;
  margin: 0 auto; 
  margin-bottom: 50px;
}

/////////////////HEADER////////////////
.header {
	display: block;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #0b0b0a;
	background-color: #171814;
}

.logo {
	display: inline-block;
	height: 80px;
}

.logo h1 {
	margin: 15px 0 0 0;
	padding: 0;
	font:  50px/50px 'Consolas', sans-serif;
	color: #d92731;
}

  .tagstyle::before {
  	content: '<';
  	color: #fff;
  }

  .tagstyle::after {
  	content: '/>' ;
  	color: #fff;
  }

.navigation {
	height: 80px;
 	float: right;
 	margin: 0;}

.navigation li {
	display: block;
	width: 155px; 
	text-align: center;
	list-style-type: none;
	float: left;
	margin: 30px 0 0 0;
}

.navigation li:first-child {width: 100px;}

.navigation a {
	display: inline-block;
	font: 20px 'Consolas', sans-serif;
	color: #d92731;
	text-decoration: none;
}

.navigation a:hover {
	color: #fff;
	transition: all 200ms linear;
}

.navigation a:hover::before, 
.navigation a:hover::after {
	transition: all 200ms linear;
	color: #d92731;
}

.navigation a:hover::before {padding-right: 10px;}
.navigation a:hover::after {padding-left: 10px;}

/////////////HOME////////////////
.home {
	display: block;
	width: 100%;
	height: 800px;
	border-top: 1px solid #3c3d38;
	background: url(../img/home-bg.jpg) no-repeat center center;
	background-size: cover;
}

.home-title {
	text-align: right;
	margin-top: 200px;
}

.home-title p{
	margin-bottom: 0;
	font: normal 30px/30px 'Consolas', sans-serif;
	color:  #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.home-title span {
	font-weight: bold;
	color: #48beef;
}

.home-title h3 {
	font: bold 40px 'Consolas', sans-serif;
	text-align: right;
	color: #d92731;
	text-transform: uppercase;
	margin-top: 10px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.section-title {
	display: block;
	width: 100%;
	height: 70px;
	text-transform: uppercase;
	text-align: center;
	color: #d92731;
	background-color: #171814;
	box-shadow: 0 1px 0 0 #0b0b0a, 0 2px 0 0 #3c3d38, 0 -1px 0 0 #0b0b0a, 0 -2px 0 0 #3c3d38;
}

.section-title h2 {padding-top: 16px;}

///////////////ABOUT///////////////////////////

.about {
	display: block;
	width: 100%;
}

.section-title {
	margin-bottom: 50px;
}
.myphoto img {
	width: 235px;
	height: 235px;
}
.about-me h3 {
	font: bold 20px 'Consolas';
	color: #d92731;
	margin-top: 0;
}
.about-me {
	padding: 20px;
	font: 16px 'Consolas', sans-serif;
	color: #fff;
}

.select-style {
	font: normal 20px/20px 'Consolas';
	color: #6ac62e;
}

h2.tagstyle {
	font: normal 35px 'Consolas', sans-serif;
	color: #d92731;
	text-align: center;
}

.select-style::after {
	display: inline-block;
	content: '{';
	color: #fff;
	padding-left: 5px;
}

.items {border-left: 1px dotted #464741;}

.item-name {
	font: italic 18px 'Consolas';
	color: #48beef;
}

.item-name::before {
	display: inline-block;
	content:'';
	vertical-align: middle;
	height: 1px;
	width: 40px;
	background: #70706b;
}

.item-name:last-child::after {
	display: inline-block;
	content: '}';
	color: #fff;
	font-style: normal;
	padding-left: 5px;
}

.item-value{font-style: normal;}
.item-value::before {
	display: inline-block;
	content:':';
	padding-right: 5px;
	font-style: normal;
	color: #fff;
}

.item-value::after { 
	display: inline-block;
	content: ';';
	padding-left: 0;
	font-style: normal;
	color: #fff;
}

.mat {color: #9981ff;}

/////////////////PORTFOLIO/////////////////////////

.portfolio {width: 100%;}

.site {
	position: relative;
	display: block;
	max-width: 100%;
	margin: 15px 0 ;
	overflow: hidden;
}

.site img {
max-width: 100%;
vertical-align: bottom;
}

.site a {
	display: block;
	margin-top: 0;
	text-align: center;
	vertical-align: middle;
	font: bold 25px 'Consolas';
	color: #d92731;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.image-hover {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
}

.image-hover h3 {
	padding-top: 50px;
}
.site a:hover .image-hover {display: block;}

//////////////CONTACTS///////////////////////////
.contacts {
	display: block;
	width: 100%;
}

.myphoto {
	display: block;
	width: 235px;
	height: 235px;
	margin: 20px auto;
}

.contacts .col-4 {margin-left: 33%;}

.contacts-title {margin-top: 30px;}

.contacts-title h2 {
	text-align: center;
	font: bold 30px  'Consolas', sans-serif;
	color: #9981ff;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.contacts-section {
	display: block;	
	padding-left: 10px;
	height: 200px;	
	font: 20px 'Consolas' ;
	color: #48beef;
	border: 1px solid #0b0b0a;
	outline: 1px solid #3c3d38;
}

.contacts-section p {margin: 10px auto;}

.email, .phone, .skype{
	margin: 0;
	padding-left: 30px;
}
.skype {background: url(../img/skype12.png) no-repeat;}

.social {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.social-email {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.social-phone {
    width: 24px;
    height: 24px;
    background-position: -39px -39px;
}

//FOTER////////////
footer {
	display: block;
	height: 50px;
	text-align: center;
	padding-top: 1px;
	background-color: #171814;
	box-shadow: 0 -1px 0 0 #0b0b0a, 0 -2px 0 0 #3c3d38;
}

.author-info {
	font: 15px 'Consolas';
	color: #fff;
}
.athor-info span {
	font-size: 20px;
}
// for dekstops
@media only screen and (min-width: 1101px)  {
	.container {
		max-width: 1200px;
	}
}
//for nontebooks
@media only screen and (min-width: 901px) and (max-width: 1100px) {
	.container {
		max-width: 1070px;
	}
}
// for tablets
@media only screen and (min-width: 783px) and (max-width: 900px) {
	.container {
		max-width: 800px;
	}
}
//for smartfones
@media only screen and (max-width: 782px) {
	.container {
		width: 100%;
		padding: 0;
	}

	.navigation {display: none;}
	.row {margin: 0;}
	.col-4, .col-3, .col-6 {
		width: 100%;
	}
}