header {
	position: fixed;
	text-align: center;
	padding-top: 10px;
	background-color: #000;
	height: 60px;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	p {
		color: #fff;
		font-size: 20px;
	}
	span {display: inline-block;
		width: 30px;
		height: 25px;}
}